.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #3a5199;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #3a5199;
}
.profile-head h6{
    color: #3a5199;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #2d3033;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #3a5199;
    margin-top: 5%;
}
.proile-rating span{
    color: #3a5199;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #3a5199;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #3a5199;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #3a5199;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #3a5199;
}


a { text-decoration: none; color: #39569d; }
a:hover { text-decoration: underline; }

h1 { font-weight: bold; font-size: 2.15em; line-height: 1.6em; margin-bottom: 10px; color: #676767; }

h2 { display: block; font-weight: bold; line-height: 1.85em; margin-bottom: 5px; }

h3 { font-weight: bold; font-size: 1.5em; line-height: 1.35em; margin-bottom: 2px; color: #777; padding-top: 6px; }


#wrapper { display: block; padding: 0; max-width: 960px; margin-top: 0px; }

#core { display: block; max-width: 460px; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; margin-left: 30%; }

.profileinfo { background: #f2f2f2; width: 100%; padding: 4px 10px; border-left: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; }
.profileinfo h2 { position: relative; left: -250px; }

.gear { position: relative; display: block; margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; }

.gear a.editlink { position: absolute; right: 0; top: 13px; }

.datainfo { margin-left: 10px; font-size: 11px; color: #333; }

label { display: inline-block; font-weight: bold; color: #696969; font-size: 12px; width: 100px; }

/** @group form inputs **/
.hlite { background: #e2e8f6; border: 1px solid #bdc7d8; width: 150px; margin-left: -7px; padding: 4px 7px; color: #565656; font-size: 12px; }

/** @group buttons **/
.savebtn { position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 15px; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
.savebtn:hover { color: #fff; background: #607db7; text-decoration: none; }
.savebtn:active { background: #556790; }



:root{
    --white: #f2f2f2;
    --black: #555;
    --color_1: #3a5199;
    --color_2: #f0932b;
    --color_3: #C80004;
}
.demo{ background-color: #f5f5f5; }
.pricingTable{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    left : -80px;
    z-index: 1;
    padding-bottom: 15px;
    transition:all 0.3s;
}

.pricingTables{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-bottom: 15px;
    transition:all 0.3s;
}


.pricingTable:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.7) inset, 0 0 10px rgba(0,0,0,0.5); }
.pricingTable .pricingTable-header{
    color: var(--white);
    background-color: var(--color_1);
    padding: 60px 0 0;
    position: relative;
}
.pricingTable .title{
    font-size: 50px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.pricingTable .title:before{
    content: attr(data-content);
    color: rgba(255,255,255,0.15);
    font-size: 100px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.pricingTable .pricing-content{
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 20px 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.pricingTable:hover .pricing-content{
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.pricingTable .price-value{
    color: var(--white);
    background-color: var(--color_1);
    padding: 7px;
    margin-bottom: 15px;
    position: relative;
}
.pricingTable .amount{
    font-size: 50px;
    font-weight: 600;
    line-height: 40px;
}
.pricingTable .amount:before{
    content: attr(data-content);
    color: rgba(255,255,255,0.15);
    font-size: 100px;
    transform:translateX(-50%);
    position: absolute;
    left: 50%;
    top: 10px;
}
.pricingTable .pricingTable-signup{
    color: var(--black);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display:inline-block;
    position: relative;
    transition: all 0.3s;
}
.pricingTable .pricingTable-signup:hover{
    color: var(--color_1);
    text-shadow: 2px 2px 0 var(--white),2px 2px 2px #999;
}
.pricingTable.orange .pricingTable-header,
.pricingTable.orange .price-value{
    background-color: var(--color_2);
}
.pricingTable.orange .pricingTable-signup:hover{ color: var(--color_2); }
.pricingTable.red .pricingTable-header,
.pricingTable.red .price-value{
    background-color: var(--color_3);
}
.pricingTable.red .pricingTable-signup:hover{ color: var(--color_3); }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 30px; }
}
@media only screen and (max-width: 576px){
    .pricingTable .pricing-content{ font-size: 15px; }
}



.pricingTables:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.7) inset, 0 0 10px rgba(0,0,0,0.5); }
.pricingTables .pricingTable-header{
    color: var(--white);
    background-color: var(--color_1);
    padding: 60px 0 0;
    position: relative;
}
.pricingTables .title{
    font-size: 50px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.pricingTables .title:before{
    content: attr(data-content);
    color: rgba(255,255,255,0.15);
    font-size: 100px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.pricingTables .pricing-content{
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 20px 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.pricingTables:hover .pricing-content{
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.pricingTables .price-value{
    color: var(--white);
    background-color: var(--color_1);
    padding: 7px;
    margin-bottom: 15px;
    position: relative;
}
.pricingTables .amount{
    font-size: 50px;
    font-weight: 600;
    line-height: 40px;
}
.pricingTables .amount:before{
    content: attr(data-content);
    color: rgba(255,255,255,0.15);
    font-size: 100px;
    transform:translateX(-50%);
    position: absolute;
    left: 50%;
    top: 10px;
}
.pricingTables .pricingTable-signup{
    color: var(--black);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display:inline-block;
    position: relative;
    transition: all 0.3s;
}
.pricingTables .pricingTable-signup:hover{
    color: var(--color_1);
    text-shadow: 2px 2px 0 var(--white),2px 2px 2px #999;
}
.pricingTables.orange .pricingTable-header,
.pricingTables.orange .price-value{
    background-color: var(--color_2);
}
.pricingTables.orange .pricingTable-signup:hover{ color: var(--color_2); }
.pricingTables.red .pricingTable-header,
.pricingTables.red .price-value{
    background-color: var(--color_3);
}
.pricingTables.red .pricingTable-signup:hover{ color: var(--color_3); }
@media only screen and (max-width: 990px){
    .pricingTables{ margin: 0 0 30px; }
}
@media only screen and (max-width: 576px){
    .pricingTables .pricing-content{ font-size: 15px; }
}